body { margin: 0; }

div {
	font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
}

.c {
	left: 0;
	top:0;
	right: 0;
	bottom: 0;
	background-image:url(http://farm3.static.flickr.com/2527/4294221393_8226126db1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.content {
  min-height: 85vh;
  margin: 10px 50px;
}

.bg { 
	position: absolute; 
	top: 50%; 
	left: 50%; 
	min-height: 80%; 
	margin: 20px 0px; 
	transform: translateX(-50%) translateY(-50%); 
}
